* @port-labs/builder-team

/port/action/ @port-labs/workflows-team
/port/action-permissions/ @port-labs/workflows-team
/port/workflow/ @port-labs/workflows-team

/port/organization/ @port-labs/buildops
/port/team/ @port-labs/buildops

/port/integration/ @port-labs/connect-team

/port/page/ @port-labs/spotlight-team
/port/page-permissions/ @port-labs/spotlight-team
/port/scorecard/ @port-labs/spotlight-team
/port/scorecard_group/ @port-labs/spotlight-team
/port/folder/ @port-labs/spotlight-team

/port/webhook/ @port-labs/lighthouse-team

/docs/resources/action.md @port-labs/workflows-team
/docs/resources/action_permissions.md @port-labs/workflows-team
/docs/resources/workflow.md @port-labs/workflows-team

/docs/resources/organization.md @port-labs/buildops
/docs/resources/organization_secret.md @port-labs/buildops
/docs/resources/team.md @port-labs/buildops

/docs/resources/integration.md @port-labs/connect-team

/docs/resources/page.md @port-labs/spotlight-team
/docs/resources/page_permissions.md @port-labs/spotlight-team
/docs/resources/scorecard.md @port-labs/spotlight-team
/docs/resources/scorecard_group.md @port-labs/spotlight-team
/docs/resources/folder.md @port-labs/spotlight-team

/docs/resources/webhook.md @port-labs/lighthouse-team

/examples/resources/port_action/ @port-labs/workflows-team
/examples/resources/port_action_permissions/ @port-labs/workflows-team
/examples/resources/port_workflow/ @port-labs/workflows-team

/examples/resources/port_organization/ @port-labs/buildops
/examples/resources/port_organization_settings/ @port-labs/buildops
/examples/resources/port_team_v0/ @port-labs/buildops
/examples/resources/port_team_v2/ @port-labs/buildops

/examples/resources/port_integration/ @port-labs/connect-team

/examples/resources/port_page/ @port-labs/spotlight-team
/examples/resources/port_page_with_filters/ @port-labs/spotlight-team
/examples/resources/port_scorecard/ @port-labs/spotlight-team
/examples/resources/port_scorecard_group/ @port-labs/spotlight-team
/examples/resources/port_folder/ @port-labs/spotlight-team

/examples/resources/port_webhook/ @port-labs/lighthouse-team

/internal/cli/action* @port-labs/workflows-team
/internal/cli/workflow* @port-labs/workflows-team

/internal/cli/organization* @port-labs/buildops
/internal/cli/team* @port-labs/buildops

/internal/cli/integration* @port-labs/connect-team
/internal/consts/integration.go @port-labs/connect-team

/internal/cli/page* @port-labs/spotlight-team
/internal/cli/scorecard* @port-labs/spotlight-team
/internal/cli/folder* @port-labs/spotlight-team

/internal/cli/webhook* @port-labs/lighthouse-team

/internal/cli/blueprint* @port-labs/builder-team
/internal/cli/client* @port-labs/builder-team
/internal/cli/entity* @port-labs/builder-team
/internal/cli/migrations* @port-labs/builder-team
/internal/cli/models* @port-labs/builder-team
/internal/cli/permission* @port-labs/builder-team
/internal/cli/search* @port-labs/builder-team
/internal/consts/migrations.go @port-labs/builder-team
