---
page_title: "{{.ProviderShortName}} Provider"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.ProviderShortName}} Provider

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

## Limitations

### Mixed static and dynamic values in dataset rules

When defining `dataset` rules in self-service actions that mix static values with `jq_query` values, the Terraform provider may not handle them correctly. 

To work around this, use `jsonencode()` for the entire dataset object:

```hcl
resource "port_action" "myAction" {
  # ...action properties
  self_service_trigger = {
    operation = "CREATE"
    blueprint_identifier = port_blueprint.myBlueprint.identifier
    user_properties = {
      string_props = {
        myEntityInput = {
          format    = "entity"
          blueprint = port_blueprint.myBlueprint.identifier
          dataset = jsonencode({
            combinator = "and"
            rules = [
              {
                property = "$identifier"
                operator = "in"
                value = {
                  jqQuery = ".user.relations.teams[].identifier"
                }
              },
              {
                property = "status"
                operator = "="
                value = "active"
              }
            ]
          })
        }
      }
    }
  }
  kafka_method = {}
}
```
